CERT_DELLA_PATH=/home/faturamento/Área de Trabalho/certificado della 26.pfx
CERT_DELLA_PASSWORD=sua_senha_della
CERT_DELLA_CNPJ=82885781000103
CERT_DELLA_UF_AUTOR=42

CERT_MIGRA_PATH=/caminho/do/certificado/migra.pfx
CERT_MIGRA_PASSWORD=sua_senha_migra
CERT_MIGRA_CNPJ=CNPJ_DA_MIGRA
CERT_MIGRA_UF_AUTOR=42

TP_AMB=1
